.Main {
  padding-top: 3.7em;
  .feature-video-container {
    background-color: #000000;
    height: calc(100vh - 71px);
    transition: all 200ms;
  }
  h4.subheader {
    font-family: 'Permanent Marker', cursive;
    letter-spacing: 1px;
    text-align: center;
    padding: 3rem 0 2rem 0;
  }
}
