nav {
  padding: .4rem 1.2rem;
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  background-color: #ffffff;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  img {
    width: 3.7rem;
    height: 3.7rem;
  }
}