.BackToTop {
  padding: 2.5rem 2rem;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  color: #a8a8a8;
  display: none;
  cursor: pointer; }
  .BackToTop span {
    margin-right: 1rem; }
  @media screen and (max-width: 600px) {
    .BackToTop {
      display: flex; } }
